@import 'normalize';
@import 'syntax';
@import 'variables';

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

body {
  font-family: 'Lato', sans-serif;
  color: $body-color;
  background-color: #fbfbfb;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 400;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

img + em {
  text-align: center;
  display: block;
  margin-top: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

blockquote {
  border-left: 5px solid #000;
  padding-left: 1.1rem;
  margin-left: 1rem;
  font-style: italic;
  color: #ada8a8;
}

pre {
  padding: 1rem 2rem;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;

  code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
  }
}

table {
  border: 1px solid #aaa;
  background-color: #eee;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table td, table.blueTable th {
  border: 1px solid #aaa;
  padding: 3px 2px;
}
table tbody td {
  font-size: 13px;
}
table tr:nth-child(even) {
  background: #adbecc;
}
table thead {
  background: #a9c4d1;
  background: linear-gradient(to bottom, #bed3dc 0%, #b1cad5 66%, #A9C4D1 100%);
  border-bottom: 1px solid #8c8c8c;
}
table thead th {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border-left: 1px solid #d0e4f5;
}
table thead th:first-child {
  border-left: none;
}

table tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #d0e4f5;
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444;
}
table tfoot td {
  font-size: 14px;
}

.wrapper {
  max-width: 1250px;
  position: relative;
}

.post, .article-page {
  background-color: #fff;
}

::-moz-selection {
  background: rgba(38, 57, 89, 0.8);
  color: $white;
}

::selection {
  background: rgba(38, 57, 89, 0.8);
  color: $white;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.btn_facebook{
  background-color: #385898;
  border: none;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}
.linkedin-share-button{
  background-color: #0b66c2;
  border: none;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
}
.twitter-share-button{
  background-color: #34a1f2;
  border: none;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
}


.btn_facebook:disabled{
  background-color: grey;
}

.container_social{
  text-align: right;
  margin-right: 10%;
}

.title-social{
  margin-right: 5%;
}



.subscribe-form {
  align-items: center;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 40px auto;
  max-width: 350px;
  padding: 20px;
  width: 100%;
}

.subscribe-form__button {
  background-color: #d6b0a7;
  border: 2px solid #d6b0a7;
  border-radius: 5px;
  color: #515151;
  font-weight: 500;
  height: 40px;
  outline: none;
  transition: background-color 0.3s;
  width: 150px;
}

.subscribe-form__button:hover {
  cursor: pointer;
}

.subscribe-form__button:active {
  background-color: #d6b0a7;
  box-shadow: 0 0 2px 1px #d8beb8;
}

.subscribe-form__title {
  font-size: 18px;
  font-weight: 500;
}

.subscribe-form__text {
  color: #808080;
  font-size: 15px;
  line-height: 1.5;
}

.subscribe-form__title, .subscribe-form__text {
  margin-bottom: 5px;
  text-align: center;
}

.subscribe-form__content {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 20px;
  width: 100%;
}

.subscribe-form__input {
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #362F34;
  font-size: 16px;
  height: 35px;
  outline: none;
  padding: 5px;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.subscribe-form__input:focus {
  border: 1px solid transparent;
  box-shadow: 0 0 2px 1px #d6b0a7;
}

.subscribe-form__message_success, .subscribe-form__message_failure {
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}

.subscribe-form__message_success {
  color: #007ACC;
}

.subscribe-form__message_failure {
  color: #FF474C;
}

/* - - - - - - - - - - Home Page Styles - - - - - - - - - - */
@import 'parts/home-page';

/* - - - - - - - - - - Post Page Styles - - - - - - - - - - */
@import 'parts/post-page';

/* - - - - - - - - - - Tag Styles - - - - - - - - - - */
@import 'parts/tag';

/* - - - - - - - - - - Media Styles - - - - - - - - - - */
@import 'media';
